/1Password/
/Apple\ Music/
/BraveSoftware/
/Code/
/Code\ -\ OSS/
/Electron/
/FTB\ Electron\ App/
/GIMP/
/Kiwix/
/Meltytech/
/QtProject.conf
/QtProject/
/Signal/
/Slack/
/Thunar/
/Unknown\ Organization/
/vesktop
/VirtualBox/
/cef_user_data/
/chromium/
/dconf/
/discord/
/gh/
/glib-2.0/
/go/
/google-chrome-beta/
/google-chrome-unstable/
/google-chrome/
/gtk-2.0/
/gtk-3.0/
/gtk-4.0/
/heroic/
/ibus/
/libreoffice/
/lunarclient/
/matplotlib/
/menus/
/microsoft-edge-dev/
/modorganizer2/
/nomacs/
/obs-studio/
/ow-electron/
/protonmail/
/pulse/
/rclone/
/simple-update-notifier/
/spotify/
/torbrowser/
/unity3d/
/vivaldi-snapshot/
/vivaldi/
/xfce4/
/yay/
/zoom.conf
/zoomus.conf
