[submodule "tmux"]
	path = tmux
	url = https://github.com/katarafett/tmux.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/katarafett/nvim.git
[submodule "zathura"]
	path = zathura
	url = https://github.com/katarafett/zathura.git
[submodule "sway"]
	path = sway
	url = git@github.com:katarafett/sway.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:katarafett/alacritty.git
[submodule "qutebrowser/userscripts/url-mutator"]
	path = qutebrowser/userscripts/url-mutator
	url = https://codeberg.org/mister_monster/qutebrowser-url-mutator/
